<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reloj.css' %}">
    <script type="text/javascript" src="{% static 'js/reloj.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mouseover.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js' %}"></script>
    <script src="{% static 'js/valida.js' %}"></script>
    <title>Contactanos</title>
</head>
<!--body tiene función reloj-->
<body onload="reloj()">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: brown">
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
    </button>
        <!--insertamos el logo-->    
        <a href="{% url 'archivo_3' %}" class="navbar-brand">
            <div class="icon-container">
                <img src="{% static 'img/logo.png' %}" width="50px" height="50px"/>
                <img src="{% static 'img/dance-dog.gif' %}" width="50px" height="50px"/> 
              </div>
        </a>
        <!--creamos las opciones del menú-->
        <div class="collapse navbar-collapse" id="opciones" style="background-color:#24262b">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!--a class color cambia el color de los menu junto al boton amborguesa-->
                    <a class="nav-link" href="{% url 'inicio' %}" target="_blank" style="color: aliceblue;">Inicio</a>
                </li>
                <hr class="hr">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'archivo_2' %}" target="_blank" style="color: aliceblue;">Quienes somos</a>
                </li>
                <hr class="hr">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'archivo_3' %}" target="_blank" style="color: aliceblue;">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'API' %}" target="_blank" style="color: aliceblue;">Feriados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'formulario' %}" target="_blank" style="color: aliceblue;">Contáctanos</a>
                </li>
            </ul>
        </div>
        <!--reproductor de música
        <audio controls loop>
            <source src="music/Donkey Kong Country  Aquatic Ambience.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        <br>-->
    </nav> <!--cierre del menú-->
    <!--Inicio formulario-->
    <hr>
    <div  class="container">
        <h4 onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Contáctanos</h4>
        <br>
        <form id="datos" method="post">
            <h5 onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Ingresa tus datos en el formulario, responderemos dudas, 
                consultas o sugerencias lo antes posible, no dudes en contactarnos.</h5>
                <br>
            <div class="form-group">
                <label for="nom" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Nombre de usuario</label>
                <input type="text" id="nom" name="nom" required 
                    minlength="3" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
                <label for="ape" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Apellido de usuario</label>
                <input type="text" id="ape" name="ape" required 
                    minlength="3" placeholder="Apellido" class="form-control">
            </div>
            <div class="form-group">
                <label for="correo" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Correo electrónico</label>
                <input type="text" id="correo" name="correo" required
                    placeholder="email@mail.cl" class="form-control">
            </div>
            <div class="form-group">
                <label for="fono" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Teléfono</label>
                <input type="number" id="fono" name="fono" required
                    placeholder="+56 9 12345678" minlength="9" class="form-control">
            </div>
            <div class="form-group">
                <label for="motivo" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Motivo contacto</label>
                <select id="motivo" name="motivo" class="form-control" required>
                    <option value="0">Seleccione una opción</option>
                    <option value="1">Consulta</option>
                    <option value="2">Reclamo</option>
                    <option value="3">Otro</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Fecha de solicitud</label>
                <input type="date" id="fecha" name="fecha" required 
                    min="1940-01-01" class="form-control">
            </div>
            <div class="form-group">
                <label for="fecha" onmouseover="style.color='blue'" onmouseout="style.color='#24262b'">Comentario</label>
                <textarea id="carta" class="form-control" rows="5" onmousemove="colors(this)" 
                        onmouseout="colorBlanco(this)">
                </textarea>
            </div>
            <div class="col">
                <input type="submit" value="Enviar" id="enviar" class="btn btn-success">
            </div>
            <div class="col">
                <input type="reset" value="Limpiar" id="limpiar" class="btn btn-warning">
            </div>
        </form>
    </div>
    <!--Fin formulario-->
<br>
<br>
<!--footer-->
<hr>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><marquee behavior="" direction="left"><img src="{% static 'img/dance-dog.gif' %}" alt="icono" height="30px" width="30px">Inicio</marquee></h4>
                <ul>
                    <li><a href="{% url 'inicio' %}" target="_blank">Inicio</a></li>
                    <li><a href="{% url 'archivo_2' %}" target="_blank">Quienes somos</a></li>
                    <li><a href="{% url 'archivo_3' %}" target="_blank">Productos</a></li>
                    <li><a href="{% url 'API' %}" target="_blank">Feriados</a></li>
                    <li><a href="{% url 'formulario' %}" target="_blank">Contáctanos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><marquee behavior="" direction="left"><img src="{% static 'img/dance-dog.gif' %}" alt="icono" height="30px" width="30px">Quienes somos</marquee></h4>
                <ul>
                <li><a href="{% url 'archivo_2' %}" target="_blank">Misión</a></li>
                <li><a href="{% url 'archivo_2' %}" target="_blank">Visión</a></li>
                <li><a href="{% url 'archivo_2' %}" target="_blank">Otros proyectos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><marquee behavior="" direction="left"><img src="{% static 'img/dance-dog.gif' %}" alt="icono" height="30px" width="30px">¡Síguenos!</marquee></h4>
                <div class="iconos-rrss">  
                    <a href="#"><img src="{% static 'img/IG.png' %}" alt="icono" height="40px" width="40px"></a>
                    <a href="#"><img src="{% static 'img/TW.png' %}" alt="icono" height="40px" width="40px"></a>
                    <a href="#"><img src="{% static 'img/FB.png' %}" alt="icono" height="40px" width="40px"></a>
                    <a href="#"><img src="{% static 'img/YT.png' %}" alt="icono" height="40px" width="40px"></a>                  
                </div>
            </div>
            <div class="footer-col">
                <h4><marquee behavior="" direction="left"><img src="{% static 'img/dance-dog.gif' %}" alt="icono" height="30px" width="30px">Contacto</marquee></h4>
                <ul>
                    <li><a href="#"><img src="{% static 'img/location.png' %}" alt="icono" height="30px" width="30px"> Casita, Maipú</a></li>
                    <li><a href="#"><img src="{% static 'img/Telefono.png' %}" alt="icono" height="30px" width="30px"> 123456789</a></li>
                    <li><a href="{% url 'formulario' %}"><img src="{% static 'img/correo.png' %}" alt="icono" height="30px" width="30px"> consultas@alimalitos.cl</a></li>
                </ul>
            </div>
            <div class="footer-col" style="color: azure;">
                <marquee behavior="" direction="left"><small>&copy;<b>Todos los derechos reservados</b></small></marquee>
            </div>
            <!--reloj aca-->
            <div class="footer-col" id="pantalla"></div>
        </div>
    </div>
</footer>
</body>
</html>